<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="index.css" />
        <title>Title</title>
    </head>
    <body>

        <header>
            <h1>>Header</h1>
            <p>Hey hey hey</p>
            <img src="https://www.thoughtco.com/thmb/bte21c7kLCtcY9W3tBPOQwPSJkc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/476871207-58b5aa285f9b586046a23666.jpg" alt="explosion">
            
        </header>
        
        <button type="button"><a href="/index2">Click Me for FORM!</a></button>
        

        <script src="Index.js"></script>
    </body>
</html>