<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="Index.css" />
        <title>Title</title>
    </head>
    <body>

        <header>
            <h1>>FORM</h1>
        </header>
        <img src="https://cdn.mos.cms.futurecdn.net/EqpoyKXgqSKYY4CP4SXSyb-970-80.jpg.webp" alt="picture2">
        
        <form method="post" action="#">
        
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" id="submit">
  
</form>

        <script src="Index.js"></script>
    </body>
</html>